*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

:root{
    --dark-blue: rgb(0, 0, 45);
    --light-green: rgb(46, 139, 123);
}

.App{
    height: 150vh;
}